body {
    background: #343030;
    margin: 0;
}

.container {
    background-color: #c1b8b8;
    position: relative;
}

.item {
    width: 100px;
    height: 100px;
    font-size: 32px;
    color: white;
    position: inherit;
    left: 100px;
}

.red {
    background-color: red;
    top: 500px;
    /* top: 100px;
    bottom: 100px;
    left: 100px;
    right: 100px; 
    z-index: 1; */
   
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}